html, body {
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
  overflow:hidden;
}

#simulationStep {
  position:absolute;
  top:0;
  margin:0;
  background-color:grey;
  font-size:30px;
  z-index:10;
}

#controls {
  margin:0;
  padding-top: 20px;
  margin-top:-100px;
  width:100%;
  background-color:lightgrey;
  z-index:1;
  transition: margin-top 0.5s;
}

#controls:hover {
  margin-top:0px;
}

#canvaswrapper {
  position:absolute;
  left:0;
}

#buttons {
  position:absolute;
  right:0;
  border:2px dashed lightslategrey;
  bottom:0;
}

#title {
  position:absolute;
  right:0;
  margin:0;
  padding:0;
}

button {
  display:block;
  float:right;
  z-index:1;
  width:100px;
  margin:4px;
  padding:10px;
  clear:both;
}
button:hover {
  cursor: pointer;
}

.center {
  width:100%;
  text-align:center;
}

.gridBtn {
  border:2px solid grey;
  border-radius:6px;
  background-color:lightsteelblue;
  transition: background-color 0.2s;
}
.gridBtn:hover {
  background-color:lightgrey;
}

.settingsBtn {
  border:2px solid darkblue;
  border-radius:4px;
  background-color:mediumblue;
  transition: background-color 0.2s;
}
.settingsBtn:hover {
  background-color:steelblue;
}

canvas {
  margin:0;
  padding:0;
}

h1 {
  line-height:50px;
  font-family:Impact;
  text-align:center;
  font-size:50px;
  color:darkgray;
}
